:root {
  --dark: #283618;
  --light-green: #ccd5ae;
  --lightest-green: #e9edc9 ;
  --light: #fefae0 ;
  --light-tan: #faedcd;
  --tan: #d4a373 ;
  --dark-tan: #bc6c25;
}

.App-header {
  background-color: var(--dark);
  /* min-height: 100vh; */
   display: flex;
  flex-direction: column;
  align-items: left;
  justify-content: left;
  text-align: center;
  font-size: calc(10px + 2vmin);
  color:var(--light);
}
footer {
  background-color: var(--dark);
  /* min-height: 100vh; */
   display: flex;
  flex-direction: column;
  align-items: left;
  justify-content: left;
  text-align: center;
  font-size: calc(10px + 2vmin);
  color:var(--light);
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

}
.App {
  text-align: center;
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

ul {
  list-style-type: none;
  text-decoration: none;
}
ul:link {
  text-decoration: none;
}

.container {
  background-color:var(--light-tan);
  color: var(--dark)
}

button{
  background-color: var(--dark-tan);
  color: var(--light-tan);
  border-radius: 15px;
  border: none;
  font-size: large;
  text-align: center;
}

.nav{
  background-color: var(--dark);
  list-style-type: none;
  margin: 0;
  padding: 0;
  text-align: center;
}
.nav li {
  display: inline-block;
  min-width: 5em;
  margin: 0 0.5em;
}

.nav a {
  text-decoration: none;
  display: block;
  position: relative;
  color: var(--light);
  padding:.5em 0
}

#addPlant {
  text-align: left;
  color: var(--dark-tan);
  margin: 20px 100px 100px 100px;
  border: 20px;
  border-color: var(--light-tan);
}

#addPlant h2 {
  text-align: center;
}

#addPlant .container {
  margin: 10px 10px 10px 10px;
  border: 20px;
  border-color: var(--light-tan);
}

#addPlant button {
  text-align: center;
  align-items: center;
  justify-content: center;
}